<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate>

    <div formGroupName="nombrecompleto">

        <div class="form-group row " [ngClass]="{'needs-validation was-validated': forma.get('nombrecompleto.nombre').valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                <div *ngIf="!!forma.get('nombrecompleto.nombre').errors?.required" class="form-control-feedback">El nombre es necesario</div>
                <div *ngIf="!!forma.get('nombrecompleto.nombre')?.errors?.minlength" class="form-control-feedback ">Debe de contener 3 caracteres </div>
                <div *ngIf="forma.get('nombrecompleto.nombre')?.valid" class="form-control-feedback">Correcto</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Usuario" formControlName="username">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">

            <input class="form-control" type="password" placeholder="Password" formControlName="password1">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir Contraseña</label>
        <div class="col-md-8">

            <input class="form-control" type="password" placeholder="Repetir Contraseña" formControlName="password2">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pasatiempos</label>
        <div class="col-md-8" formArrayName="pasatiempos">

            <input class="form-control" type="text" placeholder="Pasatiempos" [formControlName]="i" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index">
        </div>

        <button (click)="agregarPasaTiempo()" type="button" class="btn btn-primary">Nuevo </button>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>


    {{forma.valid}}
    <br> {{forma.status}}


</form>